h1{
    font-size: 50px;
    font-family: sans-serif Times New Roman;
}

h2{
    font-size: 30px;
}
h3 {
   color: black;
}
#container{
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
    color: white;
}

#start:hover{
    color:orange;
}

#start{
   font-size:20px;
   font-family:Verdana,sans-serif;
   color:#FF3333;
   background-color:#FFFFFF;
   border-color:#FFFFFF;
   border-radius: 10%;
}

#description{
    background-image: url(media/congruent_outline sideway.png);
    /*background-size: ih 200px; */
}

h3{
    color: white;
    padding-top: 0;
    margin-top: 0;
}

#description #text{
    padding: 20px;
     border: 1px solid black;
     background:rgba(255,255,255,0.1);
}

body{
    background-image: url(media/congruent_outline.png);
}
