#title{
    font-size: 50px;
    padding-top: 0px;
    margin: 5px 0px;
}

h2{
    font-size: 30px;
}
h3 {
   color: black;
}
#container{
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

#start:hover, #mock-up:hover{
    color:orange;
}

#start, #mock-up{
    margin-top: 20px;
   font-size:20px;
   font-family:Verdana,sans-serif;
   color:#FF3333;
   background-color:#FFFFFF;
   border-color:#FFFFFF;
    cursor: pointer;
    
}

#gameArea{
    /*background-image:url(media/congruent_outline sideway.png);*/
    width: 500px;
    margin: 0 auto;
}

iframe{
    padding: 20px 0 0 0;
    margin: 0;
}


.details{
    
}

#board{
    background-color: white;
    opacity: .5;
    width: 400px;
    height: 400px;
        /*     THIS IS WHAT IS SHOWN AFTER YOU PRESS MOCK UP BUTTON.
    IT KEEPS THE WHITE BOX. dimesions are wrongs. sry*/
}

h3{
    color: white;
    padding-top: 0;
    margin-top: 0;
}

#gameArea #playHere{
     margin: 0px;
     padding: 10px;
     border: 1px solid black;
     background:rgba(255,255,255,0.05);
     border-radius: 20px;
     height: 500px;
}

body{
    background-image: url(media/moulin_@2X.png);
    font-family: 'Indie Flower', cursive;
}
